#container {
  display: grid;
  grid-template-rows: 1fr min-content;
}

#container{
  height: 100%;
  border: 2px red dotted;
}

ion-content {
  border: 2px blue solid;
  height: 100%;
  min-height: 0;
}

app-inputs {
  border: 2px green solid;
  height: 100%;
  min-height: 0;
}